
body {
  font-family: sans-serif;
  color: rgb(16, 15, 15);
  background-color: bisque;
}

.controls{
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

button{
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  background: #e55a9d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #730d58;
}

h1, p{
  text-align: center;
}

.illustration{
  width: 200px;
  height: auto;
   display: block;
  margin: 0 auto; 
}